.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* HEADER */
.page__header {
  padding: 30px 0 128px 0;
}
.main__menu {
  display: flex;
  justify-content: space-between;
  min-width: 490px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__link {
  position: relative;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #95e1d3;
}

.item__link::after {
  display: block;
  position: absolute;
  height: 3px;
  background-color: #f38181;
  content: "";
  width: 100%;
  margin-top: 10px;
  color: #f38181;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.menu__item:hover .item__link::after {
  opacity: 1;
  visibility: visible;
}

.menu__item:hover .item__link {
  color: #f38181;
  transition: all 0.2s linear;
}

/* MAIN */

.services__title,
.team__title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.services__title__style_l,
.team__title__style_l {
  display: block;
  font-size: 24px;
  font-family: "Kaushan Script", cursive, sans-serif;
  font-weight: 400;
  padding-bottom: 22px;
}
.services__title__style_r,
.team__title__style_r {
  display: block;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.services__title:after,
.team__title:after {
  display: block;
  width: 60px;
  height: 4px;
  background-color: #f38181;
  content: "";
  margin: 0 auto;
  margin-top: 40px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 10px 0 10px;
}

.services__card {
  /*position: relative;*/

  /* flex: 0 0 390px; */
  width: calc(100% / 3 - 20px);
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position: 20px 0px;
}
.services__card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 100px;
}
.services__card:nth-child(1) {
  background-image: url(../images/ALARM.png);
}
.services__card:nth-child(2) {
  background-image: url("../images/LINE\ GRAPH.png");
}
.services__card:nth-child(3) {
  background-image: url("../images/COMPUTER\ _\ OK.png");
}
.services__card:nth-child(4) {
  background-image: url("../images/BOOK\ 2.png");
}
.services__card:nth-child(5) {
  background-image: url("../images/HOME.png");
}
.services__card:nth-child(6) {
  background-image: url("../images/IMAGE.png");
}
.services__card__title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
}
.services__card p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
}

/* SECTION TEAM */
.team__title {
  padding-top: 95px;
}

.team__description {
  margin: 0 auto;
  max-width: 980px;
  text-align: center;
  padding: 90px 0 95px 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__card {
  /* position: relative; */
  min-width: 380px;
  text-align: center;
}

.team__member {
  font-family: "Montserrat", sans-serif;
  margin: 30px 0 16px 0;
  text-transform: uppercase;
  color: #333333;
}
.team__position {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.main {
  padding-bottom: 88px;
}
.overlay__img__wrapper {
  position: relative;
  width: 100%;
}
.team__member__overlay {
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 380px;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.2s linear;
}

.team__member__photo {
  display: block;
}

.team__card:hover .team__member__overlay {
  opacity: 1;
  box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  transform: translate(-10px, -10px);
  transition: all 0.2s linear;
}

.team__card:hover .team__member__photo {
  transform: translate(-10px, -10px);
}

.team__social__icons {
  display: flex;
}

.team__social__icons a {
  display: block;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
}

.team__social__icons li:not(:last-child) {
  margin-right: 1px;
}

.team__facebook__icons {
  background-image: url(../images/icon_facebook.png);
}

.team__twitter__icons {
  background-image: url(../images/icon_twitter.png);
}

.team__pinterest__icons {
  background-image: url(../images/icon_pinterest.png);
}

.team__instagram__icons {
  background-image: url(../images/icon_instagram.png);
}

.team__social__icons a:hover,
.team__social__icons a:focus {
  background-color: #95e1d3;
  transition: all 0.2s linear;
}

/* FOOTER */
.footer__section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 63px;
  border-top: solid 1px #e5e5e5;
  align-items: center;
}
.mogo__contact {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
}
.laaqiq__company {
  text-decoration: none;
  color: #95e1d3;
}

.sbcrb__btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: #ffffff;
  background-color: #95e1d3;
  border: none;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  border-radius: 1px;
  cursor: pointer;
  padding: 0;
}

.subscribe__form input[type="text"] {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  font-size: 15px;
  width: 228px;
  height: 40px;
  padding: 5px 0px 5px 5px;
  border-radius: 1px;
  border: 1px solid #e7e7e7;
}
