.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
  text-align: center;
}

/*Header */

.page-header {
  padding: 40px 0;
  display: inherit;
}

.menu {
  float: right;
  margin-top: 10px;
}

.menu-item {
  float: left;
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-link {
  padding: 10px 0 10px;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #515151;
}

.menu-link:hover {
  color: #1abc9c;
  transition: 500ms;
}

.menu-item:not(:last-child) {
  margin-right: 30px;
}

/*Logo site*/

.site-logo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  float: left;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #555252;
  user-select: none;
}

.site-logo:visited {
  color: #515151; /* Цвет активных ссылок */
}
.site-logo::first-letter {
  color: #1abc9c;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

/* Slider block */
.slider-section {
  position: relative;
  width: 100%;
  }

.slider-title {
  display: block;
  font-family: "Roboto", sans-serif;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  color: #fff;
  z-index: 2;
}
.slider-title-name {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 60px;
  margin: 0 0 28px 0;
}
.slider-title-info{
  font-weight: 300;
  font-size: 24px;
}

.slider-image {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.slider-overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 2);
  opacity: 0.522;
  z-index: 2;
}

.slider-ctrl {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4ec6ab;
  opacity: 0.651;
  width: 104px;
  height: 104px;
  z-index: 20;
  cursor: pointer;
  border: none;
}

.slider-ctrl:hover{
  background-color: #1abc9c;
  opacity:1;
}
.slider-ctrl-bckwrd {
  left: 0;
  background-image: url(../images/slider-arrow-left.png);
}
.slider-ctrl-frwrd {
  right: 0;
  background-image: url(../images/slider-arrow-right.png);
}

/*main*/
.main{
  background-color: #e9f0fd;
}
.item-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  color: #555252;
  margin-bottom: 90px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.product {
  background-color: #e9f0fd;
  padding-top: 100px;
  padding-bottom: 100px;
}

.item-title::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin: 20px auto 0;
}

.item-card {
  position: relative;
  float: left;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-decoration: none;
  list-style-type: none;
  width: 255px;
  /* width: calc(100%/4 - 23px); */
  height: 322px;
  background-color: rgb(255, 255, 255);
}
.item-card:not(:nth-child(4n)) {
  margin-right: 30px;
}

.item-card:not(:nth-child(n + 4)) {
  margin-bottom: 30px;
}

.price-tag {
  width: 255px;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
}

.price-item-title {
  float: left;
  text-align: left;
  padding: 0 0 0 13px;
  background-color: #323232;
  text-decoration: none;
  color: #fff;
  width: 200px;
  height: 40px;
  line-height: 40px;
}

.price-item-value {
  float: right;
  background-color: #8c8c8c;
  text-align: center;
  width: 55px;
  height: 40px;
  line-height: 40px;
}

.product-item-img {
  object-fit: contain;
  vertical-align: middle; /* на что влияет?*/
}

.price-tag:hover .price-item-title {
  background-color: #1abc9c;
 }
.price-tag:hover .price-item-value {
  background-color: #7fd9c7;
}

.item-card:hover {
  box-shadow: 6px 4px 5px 0px #323232;
  transition: 500ms;
}

/* OVERLAY CARD */

.overlay-item-card {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.549);
  width: 100%;
  height: 284px;
  border: 10px solid transparent;
  background-clip: padding-box;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.item-hover:hover .overlay-item-card {
  visibility: visible;
  opacity: unset;
}

.item-card-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 166px;
  height: 107px;
}
.item-card-control-list {
  float: left;
}

.item-card-control-list:not(:last-of-type) {
  margin-bottom: 8px;
}
.item-card-control-list:nth-of-type(-n + 2) {
  margin-right: 8px;
}
.item-like-btn,
.item-compare-btn,
.item-time-btn {
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #fff;
}
.item-like-btn {
  background-image: url(../images/heart.png);
}

.item-compare-btn {
  background-image: url(../images/arrows.png);
}

.item-time-btn {
  background-image: url(../images/clock.png);
}

.item-buy-btn {
  width: 166px;
  height: 50px;
  background-image: url(../images/basket.png);
  background-repeat: no-repeat;
  background-position: center left 8px;
  background-color: rgb(50, 50, 50);
  padding-right: 18px;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #ffffff;
}
.item-card-control-list:hover button {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  cursor: pointer;
}

/* FOOTER */
.page-footer {
  background-color: #323232;
  color: #fefefe;
  height: 88px;
}

.page-footer-content {
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 30px;
  font-family: "OpenSans", sans-serif;
}
.company a{
  color: #46bfa9;
  cursor: pointer;
  text-decoration: none;
}
