$title-font: "Montserrat", sans-serif;
$title-font-color: #333333;
$title-font-cursive: "Kaushan Script", cursive, sans-serif;
$navmenucolor: #ffffff;
$servicestextfont: "Roboto", sans-serif;
$header-title-color: #ffffff;
